/* GENERIC CSS CLASSES by think.dj */

/* CSS Reset from meyerweb.com v1.0 | 20080212 */
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,em,font,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var, b,u,i,center, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after, q:before,q:after{content:'';content:none}
ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* End CSS Reset */

/* Generic CSS Classes  */

.left,.alignleft{float:left}
.right,.alignright{float:right}
.clear{clear:both}

.inline{display:inline }
.block{display:block }
.inline_block{display:inline-block}

.padding_5 {padding:5px}
.padding_top_5 {padding-top:5px}
.padding_right_5 {padding-right:5px}
.padding_bottom_5 {padding-bottom:5px}
.padding_left_5  {padding-left:5px}

.padding_10 {padding:10px}
.padding_top_10 {padding-top:10px}
.padding_right_10 {padding-right:10px}
.padding_bottom_10 {padding-bottom:10px}
.padding_left_10  {padding-left:10px}

.align_left {text-align:left !important}
.align_right {text-align:right !important}
.align_center {text-align:center !important}

.noborder{border:0 !important }
.nounderline{text-decoration:none !important}
.noshadow{text-shadow:none}
.nofrills{background:transparent !important;border:0 !important;padding:0 !important;text-decoration:none !important}

/* Generic CSS3 Classes  */

.rounded_3{-webkit-border-radius:3px;  -moz-border-radius:3px;  border-radius:3px}
.rounded_5{-webkit-border-radius:5px;  -moz-border-radius:5px;  border-radius:5px}
.rounded_10{-webkit-border-radius:10px;  -moz-border-radius:10px;  border-radius:10px}

.rounded_tl_5{-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px}
.rounded_tr_5{-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px}
.rounded_br_5{-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px}
.rounded_bl_5{-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px}

.rounded_tl_10{-webkit-border-top-left-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px}
.rounded_tr_10{-webkit-border-top-right-radius:10px;-moz-border-radius-topright:10px;border-top-right-radius:10px}
.rounded_br_10{-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px}
.rounded_bl_10{-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomleft:10px;border-bottom-left-radius:10px}

/* Simple Text Shadows */

.text_shadow_white{text-shadow:0 1px 0 #ffffff;filter:dropshadow(color=#ffffff,offx=0,offy=1);}
.text_shadow_black{text-shadow:0 1px 0 #1f1f1f;filter:dropshadow(color=#1f1f1f,offx=0,offy=1);}
.text_shadow_grey {text-shadow:0 1px 0 #5c5c5c;filter:dropshadow(color=#5c5c5c,offx=0,offy=1);}